/*
  SOURCE: https://www.w3schools.com/howto/howto_js_filter_elements.asp
  Title: How TO - Filter Elements

  Description: Filter content elements by their ID-s
*/
.container {
  overflow: hidden;
}

.gallery-filter-content {
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.content-control-button {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white; /*#f1f1f1; */
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.content-control-button:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.content-control-button.active {
  background-color: #666667;
  color: white;
}
