* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: 300;}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  display: grid;
  float: left;
  width: 75%;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/* Right column */
.rightcolumn {
  display: grid;
  float: right;
  width: 25%;
  padding-left: 10px;
}

.leftcolumn a, .rightcolumn a {
    text-decoration: none;
    -webkit-text-decoration: none;
    color: black;
    -webkit-text-fill-color: black;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 15px;
  margin-top: 5px;
  margin-right: 5px;
  position: relative;
}

.card h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.card .timestamp {
  position: absolute;
  bottom: -10px;
  color: gray;
}

.card .suptitle {
  margin-top: -5px;
}

.card .see-article {
  text-decoration: underline;
  -webkit-text-decoration: underline;
  position: absolute;
  bottom: -10px;
  right: 15px;
}

.leftcolumn > .card {
  border: dashed;
}

.rightcolumn > .card {
  border: dashed;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.leftcolumn img {
  object-fit: cover;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
  .card {
    padding: 10px;
    margin-right: 5px;
  }
  .leftcolumn img {
    object-fit: contain;
  }
  .leftcolumn > h2 {
    font-weight: 800;
    font-size: 1.2em;
  }
  .rightcolumn > .card h2 {
    margin-top: 5px
  }
}


.blog-navigation {
  padding-left: 10px;
  padding-top: 10px;
}

/* Block with all content of article */
.article-content {
}

/* Title block in article */
.article-title {
  padding-left: 10px;
}

/* Text block in article */
.article-text {
  padding-left: 10px;
  padding-right: 5px;
}

/* Image block in article */
.article-image {
}

.article-content h2 {
  display: inline-block;
  text-decoration: underline;
  margin: 0px;
}

.article-content a, .blog-navigation a {
  color: black;
  text-decoration: none;
  -webkit-text-decoration: none;
}

.article-content a:hover, .blog-navigation a:hover {
    text-decoration: underline;
}


.article-text blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-left: 15px;
  border-left: 5px solid #66e4b4;
  display:inline-flex;
}

.article-text blockquote span {
  margin-top:-10px;
  margin-bottom:-10px;
}

mark {
  border-radius: 1em 0;
  padding: .5rem;
  background: linear-gradient(-100deg, hsla(48,92%,75%,.3), hsla(48,92%,75%,.7) 95%, hsla(48,92%,75%,.1));
}
